@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "DM Sans", sans-serif;
}

@layer base {
  .dark {
    --background: 23, 37, 84;
    --secbackground: 30, 58, 138;
    --heading: 255, 255, 255;
    --subheading: 191, 219, 254;
    --text: 255, 255, 255;
  }
  .light {
    --background: 255, 255, 255;
    --secbackground: 243, 244, 246;
    --heading: 0, 0, 0;
    --subheading: 37, 99, 235;
    --text: 0, 0, 0;
  }
}
